{extend name="base/base" /}
{block name="title"}预约科室管理{/block}

{block name="main"}
<div class="container">
    <div class="main_top">
        <div class="main_left fl span10">
            <div class="box pr0">
                <div class="box_border">
                    <div class="box_top" style="background: #0166a5;">
                        <div class="box_top_l fl">
                            <img src="__STATIC__/admin/images/icons/2.png" width="30" height="30" style="margin: 5px;">
                            <b  style="margin: 0px;">预约科室管理</b>
                        </div>
                    </div>
                    <div class="box_top">
                        <input type="button" name="button" class="btn btn82 btn_config" onclick="Operation('add')" value="新增"> 
                    </div>
                </div>
            </div>
        </div>
        <div id="table" class="mt10" id="editdiv">
            <div class="box span10 oh">
                <form name="form1" class="jqtransform" >
                    <table width="100%" border="0" cellpadding="0" cellspacing="0"
                           class="list_table" id="table1" style="font-size: 0.9rem;">
                        <tr>
                            <th width="15%">科室名称</th>
                            <th width="15%">预约名称</th>
                            <th width="5%">启用？</th>
                            <th width="12%">所属单位</th>
                            <th width="9%">上午</th>
                            <th width="9%">下午</th>
                            <th width="5%">可约天数</th>  
                            <th width="8%">接口标识</th> 
                            <th width="">录入时间</th>
                            <th>操作</th>
                        </tr>
                        {empty name="list"}
                        <tr class="tr">
                            <td class="td_center" colspan="12">您还没有配置预约的单位，请找单位管理员进行配置，谢谢！</td>
                        </tr>
                        {else /}
                        {volist name="list" id="vo"}
                        <tr class="tr td_center">
                            <td>{$vo['HallName']}</td>
                            <td>{$vo['DispName']}</td>
                            <td>
	                            {if $vo['EnableFlag']==1}
	                            启用
	                            {else /}
	                            <font color='red' class='font'>暂停</font>
	                            {/if}
                            </td>
                            <td>{$vo['unitname']}</td>
                            <td>{$vo['WorkTime1']} - {$vo['WorkTime2']}</td>
                            <td>{$vo['WorkTime3']} - {$vo['WorkTime4']}</td>
                            <td>{$vo['Despeak_Part']}</td>
                            <td>{$vo['SerInterface']?$vo['SerInterface']:'无'}</td>
                            <td>{$vo['InTime']}</td>
                            <td>
                                <a href="javascript:Operation('edit',{$vo['HallNo']});">修改</a> 
                                    |
                                <a href="javascript:Operation('del',{$vo['HallNo']});">删除</a>
                            </td>
                        </tr>
                        {/volist}
                        {/empty}
                    </table>
                    </form>
                    <!-- 分页开始 -->
                    <div class="page my_page">
                        <div class="pagination">{$page}</div>
                    </div>
                    <!-- 分页结束 -->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function Operation(str,id) {
	if(str=='add'){
		location.href = '/index.php/admin/hall/hallDetail';
	}else{		
		if(id==''||id==null){
			alert("请选择相应的数据");
		}else{		
			if(str=='edit'){
				location.href = '/index.php/admin/hall/hallDetail/id/'+id;
			}else if(str=='del'){
				if(confirm("确认删除！")){
					$.post('/index.php/admin/hall/hallDel',
						{'id':id},
						function(data){
							if(data.success==1){
								location.reload();
							}
							alert(data.msg)
					},'json')
				}
			}
		}
	}
}
</script>
{/block}