{extend name="base/base" /}
{block name="title"}部门管理{/block}

{block name="main"}
<div id="addsdiv" class="mt0">
    <div class="main_left fl span10">
        <div class="box pr0">
            <div class="box_border">
                <div class="box_top" style="background:#D8D8EB;">
                    <div class="box_top_l fl" >
                        <img src="__STATIC__/admin/images/icons/16.png" width="30" height="30" style="margin: 5px;">
                        <font color="blue"><b id="yyunit2"></b></font>
                        <font  id="amd"  name="amd">
                        <b class="pl0">增加医生：&nbsp;&nbsp;&nbsp;&nbsp;</b></font>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <form enctype="multipart/form-data" class="jqtransform">
        <div style="margin-left: 10rem;">  
            <img src="__IMG__/{$list.pic}" id="pic" ><br>
            <input type="file" name="image" /> 
            <input type="button" onclick="imgupload()" value="上传" style="padding: 3px 11px;border-radius: 5px;"/> 
        </div>
    </form> 
    <form name="form2" id="form2" class="jqtransform">
        <div class="main_left fl span10" id="ajaxdiv3">
            <div class="box_center" id="ajaxdiv2">
            <table class="form_table pt15 pb15" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>       
        <td class="td_right">医生名称：
        </td>
        <td>
            <input type="text" name="quename" id="quename" class="input-text lh30" size="30" value="{$list.QueName}" >[必填]

        </td>
        <td class="td_right">预约名称：</td>
        <td>
            <input type="text" name="dispname" id="dispname" class="input-text lh30" size="30" value="{$list.DispName}" >[必填]
        </td>
    </tr>
    <tr>
        <td class="td_right">启用/暂停：</td>
        <td class=""> 
            <input type="radio" name="EnableFlag" {notempty name="list"}{if condition="$list.EnableFlag==1"}checked{/if}{else /}checked{/notempty}  value="1"> 启用
            <input type="radio" name="EnableFlag" {if condition="$list.EnableFlag==0"}checked{/if} value="0"> 暂停
            
        </td>
        <td class="td_right">预约方式：</td>
        <td class=""> 
            <span class="fl">
                <div class="select_border"> 
                    <div class="select_containers "> 
                        <select name="QueForm" class="select"  style="width: 200px;"> 
                            <option value="1" {if condition="$list.QueForm==1"}selected="selected"{/if}>1-按号码预约</option> 
                            <option value="2" {notempty name="list"}{if condition="$list.QueForm==2"}selected="selected"{/if}{else /}selected="selected"{/notempty}>2-按时间预约</option> 
                            <option value="3" {if condition="$list.QueForm==3"}selected="selected"{/if}>3-混合模式</option>
                        </select> 
                    </div> 
                </div> 
            </span>
        </td>
    </tr>
    <tr style="display: none;">
        <td class="td_right">管理员1:</td>
        <td>
            <input type="text" name="manegers1" id="manegers1" class="input-text lh30" size="30" value="">
        </td>
        <td class="td_right">管理员2:</td>
        <td>
            <input type="text" name="manegers2" id="manegers1" class="input-text lh30" size="30" value="">
        </td>
    </tr>     

    <tr>
        <td class="td_right">号码前置字符：</td>
        <td class="">
        	<input type="text" name="NoChar" class="input-text lh30" size="15" style="width: 62px;" value="{$list.NoChar}">[必填]
        </td>					
        <td class="td_right">起始号码：</td>
        <td>
        	<input type="number" name="StarNo" class="input-text lh30" size="15" value="{$list.StarNo>0?$list.StarNo:'1000'}">[必填]
        </td>
    </tr>
    <tr>
        <td class="td_right">上午起始：</td>
        <td>                                               
            <input type="time" name="stime1" class="select" value="{notempty name='list'}{$list.WorkTime1}{else /}09:00{/notempty}">[时-分，必填]
        </td>
        <td class="td_right">上午结束：</td>
        <td>
            <input type="time" name="etime1" class="select" value="{notempty name='list'}{$list.WorkTime2}{else /}12:00{/notempty}">[时-分，必填]
        </td>
    </tr>
    <tr>
        <td class="td_right">下午起始：</td>
        <td>
            <input type="time" name="stime2" class="select" value="{notempty name='list'}{$list.WorkTime3}{else /}14:00{/notempty}">[时-分，必填]
        </td>
        <td class="td_right">下午结束：</td>
        <td>
            <input type="time" name="etime2" class="select" value="{notempty name='list'}{$list.WorkTime4}{else /}18:00{/notempty}">[时-分，必填]
        </td>
    </tr>
    <tr>
        <td class="td_right">每小时可预约人数：</td>
        <td>                                               
            <input type="number" name="HourSum" class="input-text lh30" value="{notempty name='list'}{$list.HourSum}{else /}1{/notempty}">
        </td>   
        <td class="td_right">提前取号时间：</td>
        <td> 
            <select name="FetchTime" class="select"  style="width: 102px;">
                <option value="0" {if condition="$list.FetchTime==0"}selected="selected"{/if}>不可提前</option>
                <option value="30" {notempty name="list"}{if condition="$list.FetchTime==30"}selected="selected"{/if}{else /}selected="selected"{/notempty}>提前30分钟</option>
                <option value="60"{if condition="$list.FetchTime==60"}selected="selected"{/if}>提前60分钟</option>
                <option value="90"{if condition="$list.FetchTime==90"}selected="selected"{/if}>提前90分钟</option>
                <option value="120"{if condition="$list.FetchTime==120"}selected="selected"{/if}>提前120分钟</option>
                <option value="9999" {if condition="$list.FetchTime==9999"}selected="selected"{/if}>随时取号</option>
            </select>:
        </td>  
    </tr>
    <tr>
        <td class="td_right">排    班：</td>
        <td  colspan="3">
            <input type="checkbox" name="ClassesTime[]" value="11" {if condition="in_array(11,$work)"}checked="checked"{/if}> 周一上午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="12" {if condition="in_array(12,$work)"}checked="checked"{/if}> 周一下午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="21" {if condition="in_array(21,$work)"}checked="checked"{/if}> 周二上午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="22" {if condition="in_array(22,$work)"}checked="checked"{/if}> 周二下午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="31" {if condition="in_array(31,$work)"}checked="checked"{/if}> 周三上午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="32" {if condition="in_array(32,$work)"}checked="checked"{/if}> 周三下午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="41" {if condition="in_array(41,$work)"}checked="checked"{/if}> 周四上午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="42" {if condition="in_array(42,$work)"}checked="checked"{/if}> 周四下午&nbsp;&nbsp;
            <br><input type="checkbox" name="ClassesTime[]" value="51" {if condition="in_array(51,$work)"}checked="checked"{/if}> 周五上午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="52" {if condition="in_array(52,$work)"}checked="checked"{/if}> 周五下午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="61" {if condition="in_array(61,$work)"}checked="checked"{/if}> 周六上午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="62" {if condition="in_array(62,$work)"}checked="checked"{/if}> 周六下午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="71" {if condition="in_array(71,$work)"}checked="checked"{/if}> 周日上午&nbsp;&nbsp;
            <input type="checkbox" name="ClassesTime[]" value="72" {if condition="in_array(72,$work)"}checked="checked"{/if}> 周日下午&nbsp;&nbsp;
        </td>

    </tr>
    <tr>
        <td class="td_right">介绍说明：</td>
        <td colspan="3"> <input type="text" name="AlternateField1" id="AlternateField1" class="input-text lh30" size="100%" value="{$list.AlternateField1}"></td>  
       
    </tr>
    <tr>
        <td class="td_right">选择单位：</td>
        <td >
            <select name="unitid" id="unitid" class="select"  
                    onchange="deptajx(this.value)"
                    style="width: 200px;"> 
                <option value="0">请选择单位</option>
                {volist name="unit" id="un"}
                <option value="{$un.UnitId}" {if condition="$un.UnitId==$list.UnitId"}selected{/if}>{$un.unitname}</option>
                {/volist}        
            </select>    [必填]
        </td>
        <td class="td_right" width="10%">选择部门：</td>
        <td width="40%" id="deptajx">
            <select name="hallno" id="dept" class="select"  style="width: 200px;"> 
                <option value="0">请选择部门</option> 
            </select>
        </td>
    </tr>
    <tr>
        <td class="td_right">接口标识：</td>
        <td> <input type="text" name="intfaces" id="intfaces" class="input-text lh30" size="30" ></td>  
        <td class="td_right"</td>
        <td> </td>  
    </tr>
</table>
            </div>
            <div class="box_top" style="text-align: center;">
            	<input type="hidden" name="queid" value="{$list.QueId}">
                <input type="hidden" name="pic" value="{$list.pic}">
                <input type="button" name="savebut" onclick="save()" class="btn btn82 btn_add" value="保存">
                <input type="button" name="button" class="btn btn82 btn_nochecked" onclick="history.back(-1);" value="取消">
            </div>
        </div>
    </form>
</div>
<style type="text/css">
#pic{
    max-width: 200px;
    max-height: 220px;
}
</style>
<script type="text/javascript">
function save() {
    $.post('/index.php/admin/doctor/saveDoctor',
        $("#form2").serialize(),
        function(data){
            if(data.success==1){
                location.reload();
            }else if(data.success==2){
                history.go(-1);
            }
            alert(data.msg)
        },'json')
}
$(function(){
    var unitid = $("#unitid").val();
    if(unitid!=''){
        deptajx(unitid);
    }
})
// 获取部门数据
function deptajx(id) {
    $.post('/index.php/admin/appointment/gethall',
            {'id':id},
            function(data){
                var str = '<option value="0">请选择部门</option>';
                $("#dept").html(str);
                if(data.success==1){
                    var arr = data.msg;
                    for(n in arr){
                        var select = '';
                        if(arr[n].HallNo=='{$list.HallNo}'){
                            select = 'selected';
                        }
                        str += '<option value="'+arr[n].HallNo+'" '+select+'>'+arr[n].HallName+'</option>';
                    }
                    $("#dept").html(str);
                }
        },'json')
}
// 上传头像
function imgupload(){
    var imgdata = new FormData();
    var file = $("input[name='image']")[0].files[0];
    if(file==''||file==null){
        alert("请选择图片");
        return false;
    }
    imgdata.append("image",file);
    $.ajax({
        'url':'/admin/doctor/upload',
        'type':'post',
        'cache': false,
        'data': imgdata,
        'dataType':'json',
        'processData': false,
        'contentType': false,
        success:function(data){
            if(data.success==1){
                $("input[name='pic']").val(data.msg);
                $("#pic").attr("src",'__IMG__/'+data.msg)
            }else{
                alert(data.msg);
            }
        }
    })
}
</script>
{/block}