{extend name="base/base" /}
{block name="title"}添加管理人员{/block}

{block name="main"}
<div class="container">
    <div class="main_top">
        <div class="main_left fl span10">
            <div class="box pr0">
                <div class="box_border">
                    <div class="box_top" style="background:#E6CAFF;">
                        <div class="box_top_l fl" ><b class="pl15">管理员新增&nbsp;&nbsp;&nbsp;&nbsp;</b></div>
                    </div>

                </div>
            </div>
        </div>
        <form name="form1" class="" method="get" >       
            <div class="box">
                <div class="box_border">						  
                    <div class="box_center">   
                        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_table pt15 pb15">
                            <tr>
                                <td class="td_right" width="10%">用户名称：</td>
                                <td class="" width="40%">
                                    <input type="text" name="UserName" id="uasername" class="input-text lh30" size="20" placeholder="用户名！" value="{$list.UserName}">[必填]
                                </td>
                                <td class="td_right" width="10%">姓    名：</td>
                                <td width="40%"><input type="text" name="FullName" id="name" class="input-text lh30" size="20" value="{$list.FullName}">[必填]</td>
                            </tr>
                            <tr >
                                <td class="td_right">密    码：</td>
                                <td class=""><input type="text" name="password" class="input-text lh30" placeholder="默认密码：123456" size="20" value="123456"></td>
                                <td class="td_right">确认密码：</td>
                                <td><input type="text" name="password1" class="input-text lh30" size="20" placeholder="默认密码：123456" value="123456"></td>

                            </tr>
                            <tr>
                                <td class="td_right">性    别：</td>
                                <td class=""><input type="radio"  name="Sex" value="男"{if $list.Sex=='男'}checked="checked"{/if} {empty name="list"}checked="checked"{/empty}>男&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="Sex"  value="女" {if $list.Sex=='女'}checked="checked"{/if}>女</td>
                                <td class="td_right">手    机：</td>	
                                <td class="td_left"><input type="text" name="BodNo" id="mob" class="input-text lh30" size="20" value="{$list.BodNo}" ></td>
                            </tr> 
                            <tr>
                                <td class="td_right">角    色：</td>
                                <td class="" colspan="3">    
                                    {volist name="group" id="role"}    

                                    <input type="radio"  name="group_id" id="role{$role.id}" value="{$role.id}" {if condition="$role.id==$group_id"}checked{/if}/> <label for="role{$role.id}">{$role.title}</label> &nbsp;&nbsp;   

                                    {/volist}          		 
                                </td>
                            </tr>
                            <tr id="selectunit" >
                                <td class="td_right" width="10%">选择单位：</td>
                                <td class="" width="40%">
                                    <select name="unitid" id="unitid" class="select"  
                                            onchange="deptajx(this.value)"
                                            style="width: 200px;"> 
                                        <option value="0">请选择单位</option>
                                        {volist name="unit" id="un"}
                                        <option value="{$un.UnitId}" {if condition="$un.UnitId==$list.unitid"}selected{/if}>{$un.unitname}</option>
                                        {/volist}        
                                    </select>    
                                </td>
                                <td class="td_right" width="10%">选择部门：</td>
                                <td width="40%" id="deptajx">
                                    <select name="hallid" id="dept" class="select"  style="width: 200px;"> 
                                        <option value="0">请选择部门</option> 
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="box_top" style="text-align: center;">
                	<input type="hidden" name="id" value="{$list.UserId}">
                    <input type="button" name="button" class="btn btn82 btn_save2" onclick="save()" value="保存" style="margin-right:30px;">
                    <input type="button" name="button" class="btn btn82 btn_nochecked" onclick="javascript:history.go(-1);" value="取消"> 
                </div>		  
            </div>
        </div>
    </div>
</div> 
<script type="text/javascript">
// 更新数据
function save(){
	$.post('/index.php/admin/appointment/manageSave',
			$("form").serialize(),
			function(data){
				if(data.success==1){
					location.reload();
				}else if(data.success==2){
                    history.go(-1);
                }
				alert(data.msg)
		},'json')
}
$(function(){
    var unitid = $("#unitid").val();
    if(unitid!=''){
        deptajx(unitid);
    }
})
// 获取部门数据
function deptajx(id) {
	$.post('/index.php/admin/appointment/gethall',
			{'id':id},
			function(data){
				var str = '<option value="0">请选择部门</option>';
				$("#dept").html(str);
				if(data.success==1){
					var arr = data.msg;
                    for(n in arr){
                        var select = '';
                        if(arr[n].HallNo=='{$list.hallid}'){
                            select = 'selected';
                        }
						str += '<option value="'+arr[n].HallNo+'" '+select+'>'+arr[n].HallName+'</option>';
					}
					$("#dept").html(str);
				}
		},'json')
}
</script>
{/block}