{extend name="base/base" /}
{block name="title"}电话预约{/block}

{block name="main"}
<style type="text/css">
#table1 td{
    float:left;
}
#addbut{
    width:160px;height: 35px;margin: 5px;font-size: 15px;
}
#QueName{
    width:80px;height: 30px;margin: 2px;font-size: 15px;
}
.cs_date{
    font-size: 1.2rem;
    margin: 5px 0;
}
</style>
<script type="text/javascript">
// 选择专家
function check(id,name){
    $("#hallno").val(id);
    $("#hallname").val(name);
    $.post('/index.php/admin/appointment/getName',
        {'id':id},function(data){
            var str = '<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table"><tr><td>';
            if(data.success==1){
                var arr = data.msg;
                for(x in arr){
                    str += '<input type="button" name="QueName" id="QueName" class="ext_btn ext_btn_submit doctor" onclick="checkdata('+arr[x].QueId+',\''+arr[x].QueName+'\','+arr[x].HallNo+')" value="'+arr[x].QueName+' "/> ';
                }
            }else{
                str += '没有信息';
            }
            str += "</td></tr></table>";
            $("#doctordiv").html(str);                
        },'json')
}
// 选择日期
function checkdata(queid,name,hallno){
    $("#queid").val(queid);
    $("#quename").val(name);
    $.post('/index.php/admin/appointment/getTime',
        {'queid':queid,'hallno':hallno},
        function(data){
            var str = '<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table"><tr><td>';
            if(data.success==1){
                var arr = data.msg;
                var ndata = arr.data;
                var c_num = arr.data_n;
                var all_num = arr.all_num;
                for( x in ndata){                    
                    str += '<input type="button" name="dates" id="dates" class="ext_btn ext_btn_submit cs_date" onclick="checktime(\''+ndata[x]+'\')" value="'+ndata[x]+'  '+c_num[x]+'/'+all_num+'"/> ';
                }
            }else{
                str += '没有信息';
            }
            str += "</td></tr></table>";
            $("#datediv").html(str);                
        },'json')
}
// 选择时间
function checktime(ndata){
    var hallno = $("#hallno").val();
    $("#date1").val(ndata);
    $.post('/index.php/admin/appointment/getCheckTime',
        {'ndata':ndata,'hallno':hallno},
        function(data){
            var str = '<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table"><tr><td>';
            if(data.success==1){
                var arr = data.msg;
                var time = arr.time;
                var number = arr.number;
                for( x in time){                    
                    str += '<input type="button" name="dates" id="dates" class="ext_btn ext_btn_submit cs_date" onclick="show(\''+time[x]+'\')" value="'+time[x]+'  '+number[x]+'/'+arr.HourSum+'"/> ';
                }
            }else{
                str += '没有信息';
            }
            str += "</td></tr></table>";
            $("#timediv").html(str);                
        },'json')
}
// 显示录入
function show(str){
    $("#time1").val(str);
    $("#yydiv").show();
}
// 添加预约
function addDespeak(){
    $.post('/index.php/admin/appointment/addDespeak',
        $("form").serialize(),
        function(data){
            if(data.success==1){
                var arr = data.msg;
                var str = '<table class="list_table" width="100%" cellpadding="0" cellspacing="0">';
                    str +='<tr><td colspan="4" class="ext_btn_success"> 预约成功！</td></tr>';
                    str +='<tr>';
                    str +='    <td> 预约人员：</td>';
                    str +='    <td>'+arr.name+' '+arr.idcard+' </td>';
                    str +='    <td> 手机号码：</td>';
                    str +='    <td>'+arr.mobile+'</td>';
                    str +='</tr>';
                    str +='<tr>';
                    str +='    <td> 预约科室：</td>';
                    str +='    <td>'+arr.hallName+'</td>';
                    str +='    <td> 预约医生：</td>';
                    str +='    <td>'+arr.queName+'</td>';
                    str +='</tr>';
                    str +='<tr>';
                    str +='    <td> 就诊日期：</td>';
                    str +='    <td>'+arr.despeakDate+'</td>';
                    str +='    <td> 就诊时间：</td>';
                    str +='    <td>'+arr.time_Part_S+'-'+arr.time_Part_O+'</td>';
                    str +='</tr></table>';
                    $("#yydiv").html(str);
            }else{
                alert("data.msg");
            }
        },'json')
}
</script>
<div class="container">
    <div class="main_top">
        <div class="main_left fl span10">
            <form name="form99">
                <!--选择科室-->
                <div class="box pr0">
                    <div class="box_border">
                        <div class="box_top" >                           
                            <div class="box_top_l fl">
                                <img src="__STATIC__/admin/images/icons/10.png" width="30" height="30" style="margin: 5px;">
                                <b  style="margin: 0px;">选择科室</b>
                                <input type="text" name="hallno" id="hallno" class="input-text" size="5" style="height: 20px;" readonly>
                                <input type="text" name="hallname" id="hallname" class="input-text " size="25"  style="height: 20px;" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box span10 oh">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table" id="table1">
                        <tr>
                        {volist name="list" id="vo"}
                        <td><input type="button"  name="addbut" id='addbut' class="ext_btn ext_btn_submit dept" onclick="check('{$vo.HallNo}','{$vo.HallName}')" value="{$vo.HallName}"> 
                            </td>
                        {/volist}
                        </tr>
                    </table>
                </div>
                <!--选择医生-->                        
                <div class="box pr0">
                    <div class="box_border">
                        <div class="box_top">                           
                            <div class="box_top_l fl">
                                <img src="__STATIC__/admin/images/icons/10.png" width="30" height="30" style="margin: 5px;">
                                <b  style="margin: 0px;">选择医生</b>
                                <input type="text" name="queid" id="queid" class="input-text" size="5" style="height: 20px;" readonly>
                                <input type="text" name="quename" id="quename" class="input-text " size="25"  style="height: 20px;" readonly>
                            </div>
                        </div>

                    </div>
                </div>            

                        <div class="box span10 oh" id="doctordiv">  <!--接收Ajax传来的值-->
                        </div>
                        <!--选择日期-->
                        <div class="box pr0">
                            <div class="box_border">
                                <div class="box_top">                           
                                    <div class="box_top_l fl">
                                        <img src="__STATIC__/admin/images/icons/10.png" width="30" height="30" style="margin: 5px;">

                                        <b  style="margin: 0px;">选择日期</b>

                                        <input type="text" name="date1" id="date1" class="input-text " size="25"  style="height: 20px;" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>            

                        <div class="box span10 oh" id="datediv">  <!--接收Ajax传来的值-->
                        </div>

                        <!--选择时间-->
                        <div class="box pr0">
                            <div class="box_border">
                                <div class="box_top">                           
                                    <div class="box_top_l fl">
                                        <img src="__STATIC__/admin/images/icons/10.png" width="30" height="30" style="margin: 5px;">

                                        <b  style="margin: 0px;">选择时间段</b>

                                        <input type="text" name="time1" id="time1" class="input-text " size="30"  style="height: 20px;" readonly>

                                    </div>
                                </div>
                            </div>
                        </div>   
                        <div class="box span10 oh" id="timediv">  <!--接收Ajax传来的值-->
                        </div>

                <!--输入预约-->
                <div class="box pr0">
                    <div class="box_border">
                        <div class="box_top">                           
                            <div class="box_top_l fl">
                                <img src="__STATIC__/admin/images/icons/10.png" width="30" height="30" style="margin: 5px;">
                                <b  style="margin: 0px;">录入预约人员</b>
                            </div>
                        </div>
                    </div>
                </div>            

                <div class="box span10 oh" id="yydiv" style="display: none;">  <!--接收Ajax传来的值-->
<table class="list_table" width="100%" cellpadding="0" cellspacing="0" style="    font-size: 1rem;">
    <tr>
        <td class="td_right">预约人身份证号：</td>
        <td><input type="text" name="idcard" id="idcard" class="input-text lh30" maxlength="18"  size="30" placeholder="请输入预约人身份证号" >[必填]</td> 
        <td class="td_right">预约人手机号码：</td>
        <td>
            <input type="text" maxlength="11" name="mobile" id="mobile" class="input-text lh30" size="30" placeholder="请输入预约人手机号" >[必填]
        </td>
    </tr>
    <tr>
        <td class="td_right">预约人姓名：</td>
        <td><input type="text" name="name" id="name" class="input-text lh30" size="18" placeholder="请输入预约人姓名" >[必填]</td>
        <td class="td_right">备注：</td>
        <td>
            <input type="text" name="remark" id="remark" class="input-text lh30" size="30" >
        </td>
    </tr>  
    <tr>
        <td colspan="4">
            <div class="box_top" style="text-align: center;">
                <input type="button" name="add" class="btn btn82 btn_add" id="add" value="新增" onclick="addDespeak()">
            </div>
        </td>
    </tr>
</table>
                </div>
                <div class="box span10 oh" hidden>  <!--录入人信息-->
                    <input type="hidden" name="unitId" value="0">
                    <input type="hidden" name="inclerkid" value="">
                    <input type="hidden" name="inclerkname" value="">
                    <input type="hidden" name="inclerkfull" value="">
                    <input type="hidden" name="inunitid" value="">
                    <input type="hidden" name="inunitname" value="">
                    <input type="hidden" name="indeptid" value="">
                    <input type="hidden" name="indeptname" value="">
                </div>
            </form>   
        </div>
    </div>
</div> 
{/block}