{extend name="base/base" /}
{block name="title"}文章分类列表{/block}

{block name="main"}
<div id="table" class="mt10">
    <div class="box span10 oh">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table"  style="font-size: 1rem;">
            <tr>
               <th width="50">ID</th>
               <th width="200">单位名称</th>
               <th>分类名称</th>
               <th width="100">状态</th>
               <th>操作</th>
            </tr>
            {volist name="list" id="vo"}
            <tr class="tr td_center">
               <td>{$vo.id}</td>
               <td>{$vo.unitname}</td>
               <td>{$vo.name}</td>
               <td>{$vo.status==1?'开启':'关闭'}</td>
               <td>
                   <a href="{:url('admin/article/cateEdit',['id'=>$vo.id])}">编辑</a> |
                   <a href="javascript:del({$vo.id});">删除</a>
               </td>
            </tr>
            {/volist}
        </table>
        <div class="page mt10">
            <div class="pagination">
                {$page}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
function del(id) {
    if(confirm("确定删除?")){
      $.post('{:url("admin/article/cateDel")}',{"id":id},
        function(data){
          if(data.success==1){
            location.reload()
          }
          alert(data.msg);
        },'json')
    }
}
</script>
{/block}