{extend name="common/public" /}
{block name="title"}文章列表{/block}
{block name="content"}
<header class='demos-header'>
</header>
	{volist name="list" id="vo"}
	<div class="weui-panel">
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">{$vo.title}</h4>
            <p class="weui-media-box__desc">{$vo.subtitle}</p>
            <ul class="weui-media-box__info">
              <li class="weui-media-box__info__meta">{:date("Y-m-d",$vo.addtime)}</li>
              <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"><a href="{:url('app/article/content',['id'=>$vo.id])}">查看详情</a></li>
            </ul>
          </div>
        </div>
    </div>
    {/volist}
{/block}
  