{extend name="common/public" /}
{block name="title"}文章列表{/block}
{block name="content"}
<header class='demos-header'>
</header>
<script type="text/javascript">
function goto(url) {
  location.href = url;
}
</script>
	{volist name="list" id="vo"}
	<div class="weui-panel" style="margin-top: 0px !important;">
      <div class="weui-panel__bd" onclick="goto('{:url('app/article/content',['id'=>$vo.id])}')">
          <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title">{$vo.title}</h4>
            <!-- <p class="weui-media-box__desc">{$vo.subtitle}</p> -->
            <ul class="weui-media-box__info">
              <li class="weui-media-box__info__meta">{:date("Y-m-d",$vo.addtime)}</li>
              <!-- <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"></li> -->
            </ul>
          </div>
      </div>
  </div>
  {/volist}
<style type="text/css">
ul{
    margin: 0;
    float: right;
    padding: 0px 0 10px 0;
}
</style>
{/block}
  