{extend name="base/base" /}
{block name="title"}文章管理{/block}
{block name="js"}
<link href="__STATIC__/admin/um/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<!-- <script type="text/javascript" src="__STATIC__/admin/um/third-party/jquery.min.js"></script> -->
<script type="text/javascript" charset="utf-8" src="__STATIC__/admin/um/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__STATIC__/admin/um/umeditor.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/um/lang/zh-cn/zh-cn.js"></script>
{/block}
{block name="main"}
<div id="forms" class="mt10">
    <div class="box">
        <div class="box_border">
            <div class="box_top"><b class="pl15">广告位编辑</b></div>
            <div class="box_center">    
                <form class="jqtransform" id="form1">
                <table class="form_table pt15 pb15" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  	<td class="td_right">标题：</td>
                    <td class=""> 
	                    <input type="text" name="title" class="input-text lh30" size="35" value="{$list.title}">
	                </td>
                </tr>
                <tr >
                    <td class="td_right">广告类型：</td>
                    <td class="">
                        <select name="type" class="select"> 
                            <option value="0">请选择类型</option> 
                            {volist name="type" id="ad"}
                            <option value="{$ad.id}" {if condition="$ad.id==$list.type"}selected{/if}>{$ad.title}</option> 
                            {/volist}
                        </select> 
                        <i style="font-size: 0.5rem;color: red;">(上传5M以内的图片,比例最好500*230)</i>
                    </td>
                </tr>
                <tr>
                    <td class="td_right">上传图片：</td>
                    <td>
                        
                <form enctype="multipart/form-data" class="jqtransform">
        <div>  
            <input type="file" name="image" /> 
            <input type="button" onclick="imgupload()" value="上传" style="padding: 3px 11px;border-radius: 5px;"/> 
        </div>
    </form> 
                    </td>
                    
                </tr>
                <tr>
                    <td class="td_right">图片：</td>
                    <td class="" id="picList"> 
                    {volist name="attr" id="vo"}
                    <div>    
                    <img src="/uploads/{$vo.img}" width="80" height="60">    
                    <input type="hidden" name="pic[]" value="{$vo.img}">    
                    <input type="text" name="url[]" class="input-text lh30" size="35" placeholder="网址" value="{$vo.url}"> <a href="javascript:;">删除</a></div>
                    {/volist}
                    </td>
                </tr>
                <tr>
                  	<td class="td_right">状态：</td>
                  	<td class="">
	                    <input type="radio" name="status" id="status1" {if condition="$list.status==1"}checked{/if} {empty name="$list"}checked{/empty} value="1"> <label for="status1">开启</label> &nbsp; 
	                    <input type="radio" name="status" id="status0" {if condition="$list.status==0"}checked{/if} value="0"> <label for="status0">关闭</label>  
                        <b style="font-size: 0.5rem;color: red;">( 删除图片和保存图片,要点击保存后才生效 )</b>
                  	</td>
                </tr>
                <tr>
                    <td class="td_right">&nbsp;</td>
                    <td class="">
                    	<input type="hidden" name="id" value="{$list.id}">
	                    <input type="button" name="button" class="btn btn82 btn_save2" onclick="adsSave()" value="保存"> 
	                    <input type="button" name="button" onclick="goto()" class="btn btn82 btn_res" value="返回"> 
                    </td>
                </tr>
                </table>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var um = UM.getEditor('myEditor');

// 保存文章
function adsSave() {
	$.post('{:url("admin/ads/adsSave")}',
		$("#form1").serialize(),
		function(data){
            if(data.success==1){
                history.go(-1);
            }else if(data.success==2){
                location.reload();
            }
            alert(data.msg)
		},'json')
}
// 上传头像
function imgupload(){
    var imgdata = new FormData();
    var file = $("input[name='image']")[0].files[0];
    if(file==''||file==null){
        alert("请选择图片");
        return false;
    }
    imgdata.append("image",file);
    $.ajax({
        'url':'/admin/ads/upload',
        'type':'post',
        'cache': false,
        'data': imgdata,
        'dataType':'json',
        'processData': false,
        'contentType': false,
        success:function(data){
            if(data.success==1){
                var str = '';
                var img = '__IMG__/ads/'+data.msg;
                str += '<div>';                           
                str += '    <img src="'+img+'" width="80" height="60">';    
                str += '    <input type="hidden" name="pic[]" value='+'\\ads\\'+data.msg+'>';
                str += '    <input type="text" name="url[]" class="input-text lh30" size="35" placeholder="网址"> ';    
                str += '<a href="javascript:;">删除</a></div>'; 
                $("#picList").append(str)
            }else{
                alert(data.msg);
            }
        }
    })
}
$(function(){
    $("a").click(function() {
        $(this).parent().remove();
    });
})
function goto(){
    history.go(-1);
}
</script>
{/block}