<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="__STATIC__/admin/css/login.css">
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.min.js"></script>
	<title>中科易达网上预约管理平台</title>
</head>
<script type="text/javascript">
function login() {
	$.post('/index.php/admin/login/login',
		$("form").serialize(), 
		function(data){
			if(data.success==1){
				location.href = '/index.php/admin/appointment/listdata';
			}else{
				alert(data.msg);
			}
		},'json')
}	
function reloadcode(obj) {
     obj.src="/index.php/captcha.html?id="+Math.random() 
  }
</script>
<body>
	<div id="login_top">
		<div id="welcome">
			欢迎使用中科易达Q5预约排队管理平台
		</div>
		<div id="back">
			<!--<a href="#">返回首页</a>&nbsp;&nbsp; | &nbsp;&nbsp;-->
			<!-- <a href="#">帮助</a> -->
		</div>
	</div>
	<div id="login_center">
		<div id="login_area" >
			<div id="login_form">
				<form>
					<div id="login_tip"  >
						用户登录&nbsp;&nbsp;UserLogin
					</div>
					<div><input type="text" name="username" class="username"></div>
					<div><input type="password" name="password" class="pwd"></div>
                    <div style="margin-top: 10px;">
						<input type="button" name="submit" id="sub_btn" onclick="login()" value="登&nbsp;&nbsp;录">&nbsp;&nbsp;
						<input type="text" name="captcha" class="verify">
						<img src="{:captcha_src()}" alt="captcha"  onclick="reloadcode(this)" width="100" height="40">
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="login_bottom">
		福州中科易达计算机技术有限公司 版权所有
	</div>
</body>
</html>